{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<h1 class="text-center creamCakeFont">Hello guys </h1>
<div class="col-8 fondTransparent">
    Si vous venez sur cette page, c'est que je vous fais confiance. Cette page nous permettra de lister les vips et de me notifier de la péremption des vips.
</div>
{% endblock %}
