
@import "../../node_modules/bootstrap";
@import "navBar.css";
@font-face{
    font-family: creamCake;
    src: url(../font/Cream_Cake.ttf);
}

h1{
    color: #7d1f47;
}

a{
    color: #7d1f47;
}

body {
    background-image:url("../img/fondCerisier.png");
    max-width: 98vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.creamCakeFont{
    font-family: creamCake;
}

.fondTransparent
{
    background-color: rgba(220, 193, 232, 0.76);
}
.sansFont{
    font-family: sans-serif;
}

.whiteFont{
    color:white;
}

a:hover
{
    color:white;
}